* {
    margin: 0;
}

.carousel-item {
    position: relative;
  background-color: black;
}

.banner-img {
    opacity: 0.4;
}


.carousel-caption {
    position: absolute;
    top: 40%;

}


.explore-section {
    background-color: #F4FAFD;
}

.ready-section {
    height: 300px;
}

.successfull-section .card {
    height: 400px;
    width: 312px;
}
.successfull-section .card img {
    width: 100%;
    height: 300px;
}